<% @title = "DASH BOARD" %>
<h1 class="maintitle"><%= @title %></h1>

<ul class="menu">
  <li><%= link_to 'staff_list', :admin_staff_members %></li>
  <li><%= link_to 'Staff Login Logout log', :admin_staff_events %></li>
</ul>
