@import 'colors';
@import 'dimensions';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
div#wrapper{
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: ($wide + $moderate)* 2 + $standard_line_height;
}
/********    top page    *******************/
div#container{
  padding-top: 90px;
}


header {
  color: $very_light_gray;
  span.logo-mark{
    font-weight: bold;
  }
}

div.intro-text {
  margin: auto;
  background-color: $gray;
  border: 5px solid black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 80%;
}

h3.welcome-messeage{
   text-align: center;
   padding: 5px; 
}

/************  top page ********************/
footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $dark_gray;
  color: $very_light_gray;
  p {
   text-align: center;
   padding: 5px;
   margin: 0;
  }
}
